@charset "utf-8";

.articles {

    :global(.column) {
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.025);
        }
    }

    :global(.gatsby-image-wrapper) {
        aspect-ratio: 4/3;
    }

    h4, h6 {
        white-space: nowrap;
        overflow: hidden;
    }

}
