@charset "utf-8";

.articles {
    article:not(:first-child) {
        margin-top: 4rem;
    }

    .journal-feature-image {
        width: 50%;
        float: right;
        padding: 2%;
    }

    .excerpt {
        .journal-feature-image {
//            padding-top: 0;
            width: 25%;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .articles {
        .journal-feature-image {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .excerpt {
            .journal-feature-image {
                width: 100%;
            }
        }
    }
}
