@charset "utf-8";

//$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "~bulma/bulma.sass";

.navbar {
    z-index: 9999 !important;
}

// Layout
.container {
  margin: auto;
  max-width: 80%;
  font-family: sans-serif;
}

.subtitle {
  .icon {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}

// Hero
.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
    }
    .hero-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
    .hero-body {
        z-index: 1;
    }
}

// leaflet
.leaflet-container {
    width: 100%;
    height: 100vh;

    .leaflet-div-icon {
        img {
          margin-top: 1px;
          margin-left: 1px;
          width: 46px;
          height: 46px;
        }
    }
}

// modal
.modal.is-active {
    z-index: 9999;
    .gatsby-image-wrapper {
        width: 100%;
        height: 100%;

        img {
          object-fit: contain;
          o-object-fit: contain;
        }
    }
}

.modal-media-content {
    margin: 0 $modal-content-margin-mobile;
    max-height: calc(100vh - #{$modal-content-spacing-mobile});
    overflow: auto;
    position: relative;
    width: 100%;

  @include from($modal-breakpoint) {
      margin: 0 auto;
      max-height: calc(100vh - #{$modal-content-spacing-tablet});

    &.media-horizontal {
      width: min( calc((100vh - #{$modal-content-spacing-tablet})*4/3), 100vw);
      figcaption {
        width: min( calc((100vh - #{$modal-content-spacing-tablet})*4/3), 100vw);
      }
    }
    &.media-wide {
      width: min( calc((100vh - #{$modal-content-spacing-tablet})*16/9), 100vw);
      figcaption {
        width: min( calc((100vh - #{$modal-content-spacing-tablet})*16/9), 100vw);
      }
    }
    &.media-vertical {
      width: min( calc((100vh - #{$modal-content-spacing-tablet})*3/4), 100vw);
      figcaption {
        width: min( calc((100vh - #{$modal-content-spacing-tablet})*3/4), 100vw);
      }
    }
    &.media-panorama {
      width: 100vw;
      figcaption {
        width: 100vw;
      }
    }
  }

  figcaption {
    position: fixed;
    bottom: 2.5em;
    padding: 0.5em 1em;
    background: rgba(0,0,0,0.5);
//    color: #fff;
    text-align: center;
    width: 100%;
  }

}
