
.gallery {

    :global(.card) {
        overflow: hidden;

        :global(.gatsby-image-wrapper) {
            aspect-ratio: 4/3;
        }

        figcaption {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: background .2s ease-out;
        }

        :global(.card-image-wrapper) {
            transition: transform 5s ease-out;
        }

        &:hover {
            :global(.card-image-wrapper) {
//                transform: scale(1.2);
            }

            figcaption {
                opacity: 1;
                background: rgba(0,0,0,0.5);
                display: flex;
                cursor: pointer;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }
    }

    :global(.icon) {
        position: absolute;
        top: 1px;

        &.favorite {
            color: #C78548;
            right: 1px;
        }

        &.liked {
            color: #C78548;
            right: 1px;
        }

        &.edit {
            left: 1px;
        }

        &.play {
            top: 0px;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 4em;
        }
    }

}
